
body {
    background-color: #eee;
}

h1 {
    padding: 30px 0;
    margin: 30px;
    margin-bottom: 30px;
    color: #16A085 ;
    font-family: 'Times New Roman', serif;
    font-size: 28px;
    border-bottom: 1px solid #ABB2B9;
  }
  