
body {
    background-color: #eee;
}

h1 {
    padding: 30px 0;
    margin: 30px;
    margin-bottom: 30px;
    color: #16A085 ;
    font-family: Georgia, serif;
    font-size: 35px;
    border-bottom: 1px solid #ABB2B9;
  }
  

  h2 {
    padding: 30px 0;
    margin: 30px;
    margin-bottom: 20px;
    color: #16A085 ;
    font-family: Georgia, serif;
    font-size: 25px;
    border-bottom: 1px solid #ABB2B9;
  }

  nav {
      background-color: #FFFFFF;

  }
  #Summary {
      background-color: #FFFFFF;
      font-family: Arial, sans-serif;
      font-size: 20px;
      margin: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px
 }
  #lat-graph {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    float: left;
  }

  #vis-lat {
    background-color: #FFFFFF;
    margin: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px
  }

  #temp-graph {
      width: 150px;
      height: 150px;
      top: 200px;
      right: 340px;   
  }

  #hum-graph {
      width: 150px;
      height: 150px;
      top: 370px;
      right: 340px;      
  }

  #cloud-graph {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 197px;
      right: 170px;
  }

  #wind-graph {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 347px;
      right: 170px;
  }

/* Temp format */

  #Vis {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px
}


  #vis_graph {
    width: 600px;
    height: 400px;
    margin-right: 20px;
  }






